<ul class="navbar-nav mr-auto">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span>{{ .Name }}</span>
        </a>
        <div class="dropdown-menu">
          {{ range .Children }}
            <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} dropdown-item"
               href="{{ .URL }}">{{ .Name }}
            </a>
          {{ end }}
        </div>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}">
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{/*<ul class="navbar-nav mr-auto ml-1">
  <span class="kSocialLinks" style="line-height: 48px;">
  {{ partial "social_links.html" . }}
  </span>
</ul>*/}}
<ul class="navbar-nav ml-auto feed-buttons">
  <span>
  <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" class="btn btn-sm btn-warning align-self-center">
    RSS <i class="icon icon_rss"></i>
  </a>
  <a href="{{ with .OutputFormats.Get "ATOM" }}{{ .RelPermalink }}{{ end }}" class="btn btn-sm btn-warning align-self-center">
    Atom <i class="icon icon_rss"></i>
  </a>
  <a href="https://t.me/kdeplanet" class="btn btn-sm btn-primary align-self-center">
    Telegram <i class="icon icon_document-send"></i>
  </a>
  </span>
</ul>
